
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
      position: relative;
      min-height: 100%;
  }


  body {
    background-color: teal;
    margin-bottom: 140px;
  }


.card {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
   
}

.card-header {
    font-size: large;
    font-weight: bold;
}


.col-md-6 {
    margin-bottom: 40px;

    
}

.responsive {
    width: 100%;
    height: auto;
}

.footer {
    background-color: cornflowerblue;
    text-align: center;
    color: white;
    height: 40px;
    position: absolute; 
    bottom: 0;
    width: 100%;
    height: 40px; 

}

#btn1 {
  width: 50%;
  height: auto; 

}

#btn2 {
  width: 50%;
  height: auto; 
}



/* .btn {
  width: 1000px;
  height: 1000px; 
  background-color: cornflowerblue;
} */
